<div *ngIf="item" class="item-container">
    <div class="item-tab-menu">
        <span class="selected">Edit</span>
        <span *ngIf="item.Id != 0"
              (click)="onItemDetailView(item)">View</span>
    </div>
    <div class="item-details">
        <div class="mode">Edit Mode</div>
        <h2>{{item.Title}}</h2>
        <ul>
            <li>
                <label>Title:</label>
                <input [(ngModel)]="item.Title" placeholder="Insert the title..." />
            </li>
            <li>
                <label>Description:</label>
<textarea [(ngModel)]="item.Description"
          placeholder="Insert a suitable description..."></textarea>
            </li>
        </ul>
        <div *ngIf="item.Id == 0" class="commands insert">
            <input type="button" value="Save" (click)="onInsert(item)" />
            <input type="button" value="Cancel" (click)="onBack()" />
        </div>
        <div *ngIf="item.Id != 0" class="commands update">
            <input type="button" value="Update" (click)="onUpdate(item)" />
            <input type="button" value="Delete" (click)="onDelete(item)" />
            <input type="button" value="Cancel" (click)="onItemDetailView(item)" />
        </div>
    </div>
</div>